body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header .header-text {
    background-color: #211783d0;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

footer .footer-text {
    background-color: rgb(44, 44, 44);
    color: #fff;
    padding: 10px;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.main-title {
    text-align: center;
}